$primary: #FFB81C;
$font-family-base: "CMU Bright", sans-serif;
$headings-font-family: "Roboto Slab", sans-serif;
$font-weight-bold: 500;
$font-weight-base: 300;

$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px,
  xxxl: 1880px
);

$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1140px,
  xxl: 1320px,
  xxxl: 1800px
);

@import "bootstrap/scss/bootstrap";

header .navbar-brand {
  font-family: $headings-font-family;
}

.btn {
  font-family: $headings-font-family;
}

html, body, #app, .lca-viewer {
  height: 100%;
}

h6 {
  font-family: $font-family-base;
  font-weight: 700;
}

.lca-viewer {
  display: flex;
  flex-direction: column;
  justify-content: stretch;

  > main {
    flex-grow: 1;
  }
}

.form-check-input:checked {
  background-color: var(--bs-primary);
  border-color: var(--bs-primary);
}

.btn-link {
  --bs-btn-hover-color: --bs-btn-color;
  transition: opacity 0.15s ease-in-out;
  &:hover {
    opacity: 0.8;
  }
}